coursework/node_modules
coursework/ObservationRecord_backend/*
!coursework/ObservationRecord_backend/assignment_specification_final.pdf
!coursework/ObservationRecord_backend/src/
!coursework/ObservationRecord_backend/pom.xml
!coursework/ObservationRecord_backend/curlmethod.txt
